*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root{
    --main-bg-color: #fdfdfe;
    --accent-color: rgb(24, 50, 16);
}

body {
    height: 100%;
    width: 100%;
    font-weight: normal;
    background-color: var(--main-bg-color);
    color: var(--accent-color);
    margin: 0;
    font-size: 20px;
}
.aisle-header{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;

}
.aisle-banner-image{
    width: 100%;
    height: 200px;
    box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.4);
    object-fit: cover;
}
.aisle-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-shadow: 0px 0px 10px #656565;
    font-size: 4rem;

}
.footer{
    height: 200px;
    background-color: #222a1d;
    padding: 50px 25% 0 25%;
    color: lightgray;
}
.item-anchor{
    text-decoration: none;
}
.aisle_sorting{
    padding: 5px 0 5px 0;
}
.sort-select, #sort-text{
    float: right;
    vertical-align: top;
    display: inline-block;
}
#sort-text{
    font-size: 18px;
}

select{
    font-family: 'Nunito', sans-serif;
    color: var(--accent-color);
    height: 26px;
    font-weight: normal;
    font-size: 14px;
    border-color: #9d9d9d;
    background-color: transparent;
    outline: none;
}

.sort-select{
    margin-left: 14px;
    font-weight: normal;
    font-size: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    color: transparent;
}

.container{
    margin-top: 18px;
    margin-left: 12%;
    margin-right: 12%;
    gap: 20px;
    display: grid;
    align-content: center;
    justify-content: center;
}

.product-list{
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: clamp(20px, 30px, 2vw);
    list-style-type: none;
    display: grid;
    flex-flow: column;
    margin-bottom: 7rem;
}
.item .product-image{
    background-size: cover;
    height: 200px;
    width: auto;
    padding: 10% 8% 0 8%;
    margin-bottom: auto;
}

/*.item .product-image{*/
/*    background-size: cover;*/
/*    width: 75%;*/
/*    margin-top: 20%;*/
/*}*/
.item{
    color: black;
    text-align: center;
    border: 1px solid #c4c4c4;
    font-size: 16px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.item:hover{
    border: 1px solid #6e6e6e;
    transition:  130ms linear;
}
h3{
    padding: 0 8% 0 8%;
    margin-top: 10px;
    font-weight: normal;
}
h2{
    margin-top: 10px;
    font-size: 18px;
    color: rgb(9, 51, 12);

}
.quantity {
    display: flex;
    color: #2d2d2d;
    height:45px;
    justify-content: center;
    border: 1px solid #858585;
    background-color: transparent;
    margin: 10%;
    z-index: 1;
}

.quantity button {
    font-size: 18px;
    width: 45px;
    height: 45px;
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
}
.quantity button:hover{
    background-color: rgba(133, 133, 133, 0.33);
    transition:  120ms linear;
}
.plus-btn{
    padding-right: 5%;
    padding-left: 5%;
}
.minus-btn{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3px;

}
.quantity input {
    border: none;
    outline: none;
    background-color: transparent;
    text-align: center;
    width: 70%;
    font-size: inherit;
    color: inherit;
}
.item .add_button{
    cursor: pointer;
    background-color: var(--accent-color);
    font-size: 16px;
    color: white;
    border-radius: 20px;
    border: 0 #fff solid;
    width: 80%;
    height: 40px;
    margin-bottom: 10%;
}
.item .add_button:hover{
    background-color: rgb(127, 176, 127);
    transition:  230ms ease-in;
}
@viewport {
    zoom: 1.0;
}
@-ms-viewport  {
    zoom: 1.0;
}
@media all and (max-width: 630px) {

    .product-list{
        grid-template-columns: 1fr;
        transition: 100ms ease-in;
    }
}

@media all and (max-width: 1300px) and (min-width: 630px) {
    .product-list{
        grid-template-columns: 1fr 1fr 1fr;
        transition: 100ms ease-in;
    }

}

@media all and (max-width: 960px) and (min-width: 630px) {
    .product-list{
        grid-template-columns: 1fr 1fr;
        transition: 100ms ease-in;
    }
    .aisle_title{
        font-size: 40px;
    }
}
