.edit-container > *{
    font-size: calc(clamp(.6rem, 3vw, 1rem) + .3rem);
    /*padding-top: 1.5rem;*/
    height: fit-content;
    width:100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.edit-container{
    width: 100%;
}
.edit-order-container{
    display:none;
    visibility: hidden;
}
.edit-product-container{
    display:none;
    visibility: hidden;
}
.edit-user-container{
    display:none;
    visibility: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
form{
    width: 100%;
    height: 100%;
}
textarea{
    resize: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
.error-txt{
    color: #b20000;
    font-size: 18px;
    font-weight: bold;
}
.add-order-item-container{
    width: 70% !important;
    height: fit-content;
    padding: 14px 0;
    border: 1px solid #a7acac;
    /*border-bottom: 1px solid #a7acac;*/
}
.add-order-item-box{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.field{
    font-weight: bold;
    font-size: clamp(.6rem, 3vw, 1rem);
    height:fit-content;
    width:100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#item-description > textarea{
    resize: none;
    overflow-y: hidden;
}
#upload-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}
.image-box{
    width:  70%;
    padding: 2%;
    margin: 2%;
    border: 1px #95b4c2 solid;
    border-radius: 8px;
}
.user-input:focus{
    background-color: rgb(225, 233, 239);
    transition: 0.2s ease-in;
    border-left: none;
    border-right: none;
}
.user-input{
    font-size: inherit;
    padding: 4px;
    width: 100%;
    height: 100%;
    border: 1px #95b4c2 solid;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: center;
}
.edit-select-container{
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: center;
    outline: none;
    border:none;
}
.edit-select-container > select {
    height: fit-content;
    width: fit-content;
    outline:none;
    align-items: center;
    justify-content: center;
    text-align-last: center;
    padding: 0.5% 1% 0.5% 1%;
    font-size: calc(clamp(.6rem, 3vw, 1rem) + .2rem);
    color: black;
}
/*.edit-select-container > select > option{*/
/*    !*text-align: center;*!*/
/*}*/
.edit-select-container > form > label {
    width: 30%;
}
.order-items-container{
    border: 1px solid #a8adad;
    width: 70%;
    max-height: 38vh;
    min-height: fit-content;
}
.order-items{
    text-decoration: none;
    width: 100%;
    max-height: 37vh;
    overflow-y: scroll;
    border-color: rgba(0, 0, 0, 0.0);
    transition: border-color .4s;
}
.order-items:hover {
    border-color: rgba(0, 0, 0, 0.10);
}
.order-items::-webkit-scrollbar{
    border-color: transparent;
    opacity: 0;
}
.order-items::-webkit-scrollbar-thumb{
    opacity: 0;
}
.order-items::-webkit-scrollbar,
.order-items::-webkit-scrollbar-thumb,
.order-items::-webkit-scrollbar-corner {
    width:8px;
    border-right-style: inset;
    border-right-width: calc(100vw + 100vh);
    border-color: inherit;
}

.cancel-order-btn{
    background-color: transparent;
    font-weight: bold;
    border: none;
    outline: none;
    width: 100%;
    height: calc(clamp(.6rem, 3vw, 1rem) + 2rem);
    font-size: clamp(.6rem, 3vw, 1rem);
}
.cancel-order-btn:hover{
    background-color: rgba(152,24,37,0.94);
    transition: 0.6s ease-in;
    color: white;
}
.save-changes-btn{
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
    font-weight: bold;
    border: none;
    outline: none;
    width: 100%;
    height: calc(clamp(.6rem, 3vw, 1rem) + 2rem);
    font-size: clamp(.6rem, 3vw, 1rem);
    cursor: pointer;
}

.save-changes-btn:hover{
    background-color: rgba(0, 154, 173, 0.94);
    transition: 0.3s ease-in;
    color: white;
}
@media all and (min-width: 930px) {
    #add-order-item-btn{
        border-radius: 12px;
    }
    .add-order-item-box{
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 1%;
        width: 100%;
        border: 1px solid #a7acac;
    }
    .add-order-item-container{
        width: 100%;
        border:none;
    }
}

@media all and (min-width: 600px) {
    .user-input {
        padding: 4px;
        width: 70%;
        height: 100%;
        border: 1px #95b4c2 solid;
        border-radius: 8px;
        outline: none;
        font-size: 1rem;
        text-align: center;
    }
    .user-input:focus{
        border: 1px #95b4c2 solid;
        transition: 0.15s ease-in;
    }
    .save-changes-btn{
        padding: 1rem 0;
        height: fit-content;
    }
    .cancel-order-btn{
        padding: 1rem 0;
        height: fit-content;
    }
}