*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root{
    --main-bg-color: #f9fafa;
    --accent-color: rgb(24, 50, 16);
    --default-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.container{
    min-height: calc(100vh - 180px - 131px);
}
.content {
    height: 100%;
    width: 100%;
    padding: 0 clamp(1rem, 8vw, 20rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

body{
    background-color: var(--main-bg-color);
    height: 100%;
    width: 100%;
}

.nav-bars {
    font-size: clamp(.5rem, 1.6vw, .6rem);
    width:100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.tab > h1{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 5px;
}
.tab {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1.2rem 0;
    height: 100%;
    width:100%;
}
.tab.show{
    display: flex;
}
.tab-shown{
    overflow: hidden;
}
.tab-icon{
    font-size: calc(clamp(2rem, 2vw, 1rem) - .8rem) !important;
}

.current-tab {
    background-color: var(--accent-color);
}

.nav-bars > .tab:hover{
    background-color: #dedede;
    transition: 100ms linear;
}
#current-button{
    color: var(--main-bg-color);
    padding: 1rem;
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: calc(clamp(1.8rem, 4vw, 2rem) - .8rem);
    font-weight: bold;
    background-color:transparent;
    outline:none;
    border:none;
}

.main-content{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-top: 1rem;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.search-box{
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: fit-content;
    border: black 2px;
    background-color: #e9ecee;
    border-radius: 40px;
    padding: 10px;
}
.search-box a{
    color: white;
}
.search-btn{
    width: 50px;
    height: 40px;
    border-radius: 50%;
    background: rgb(175, 185, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    /*line-height: 40px;*/
    width: 100%;
}

#content-title{
    background-color: #f5f5f5;
    font-size: calc(clamp(.4rem, 3vw, 1rem) + .7rem);
    border-bottom: 1px rgb(230, 230, 230) solid;
    font-weight: bold;
    padding: 14px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@media all and (min-width: 600px) {
    .main-content {
        margin-top: 0;
        margin-left: clamp(9.375rem, 25vw, 16rem);
    }

    .content-title {
        margin: 0;
    }

    .content {
        display: flex;
        gap: 2%;
        flex-direction: row;
        padding: 0 5%;
    }

    .nav-bars {
        position: fixed;
        padding: 0;
        width: clamp(140px, 22vw, 200px);
    }

    .tab {
        padding: 1.8rem 1.1rem 1.8rem .9rem;
        display: flex;
        justify-content: flex-start;
    }
    .search-txt{
        width: 0;
    }
    .search-box:hover > .search-txt{
        width: 240px;
        padding: 0 6px;
        top: 50px;
    }
    .search-box:hover > .search-btn{
        background: #1d3f59;
    }
    .search-box:hover{
        background: rgba(192, 201, 208, 0.26);
    }
    .search-box{
        width: fit-content;
        border: black 2px;
        background: none;
        border-radius: 40px;
        padding: 10px;
    }
    .search-box a{
        color: white;
    }
    .search-btn{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgb(175, 185, 192);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        text-decoration: none;
    }
    .search-txt{
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0;
    }
}

@viewport {
    zoom: 1.0;
}
@-ms-viewport  {
    zoom: 1.0;
}