.edit-container > *{
    font-size: calc(clamp(.6rem, 3vw, 1rem) + .3rem);
    padding-top: 1.5rem;
    height: fit-content;
    width:100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*display: none;*/
    /*visibility: hidden;*/
}
.edit-order-container{
    display:none;
    visibility: hidden;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.field{
    font-size: inherit;
    height:fit-content;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-input:focus{
    border: 1px #000000 solid;
    transition: 0.3s ease-in;
    border-left: none;
    border-right: none;
}
.user-input{
    font-size: inherit;
    margin: 5px 0;
    padding: 4px;
    width: 100%;
    height: 100%;
    border: 1px #a2a2a2 solid;
    border-left: none;
    border-right: none;
    /*border-radius: 8px;*/
    outline: none;
    text-align: center;
}
.order-type{
    outline: none;
    border:none;
}
.order-type > select{
    padding: 5%;
    font-size: calc(clamp(.6rem, 3vw, 1rem) + .2rem);
    color: black;
}

.cancel-order-btn{
    background-color: transparent;
    font-weight: bold;
    border: none;
    outline: none;
    width: 100%;
    height: calc(clamp(.6rem, 3vw, 1rem) + 2rem);
    font-size: clamp(.6rem, 3vw, 1rem);
}
.cancel-order-btn:hover{
    background-color: rgba(152,24,37,0.94);
    transition: 0.6s ease-in;
    color: white;
}
.save-changes-btn{
    background-color: transparent;
    border: none;
    font-weight: bold;
    outline: none;
    width: 100%;
    padding: 4% 0;
    height: fit-content;
    font-size: calc(0.5*(clamp(.6rem, 3vw, 1rem) + 1rem));
}
.save-changes-btn:hover{
    background-color: rgba(0, 154, 173, 0.94);
    transition: 0.3s ease-in;
    color: white;
}

@media all and (min-width: 600px) {
    .user-input{
        margin: 5px 0;
        padding: 4px;
        width: 70%;
        height: 100%;
        border: 1px #a2a2a2 solid;
        border-radius: 8px;
        outline: none;
        font-size: 1rem;
        text-align: center;
    }
    .user-input:focus{
        border: 1px #000000 solid;
        transition: 0.3s ease-in;
    }
    .save-changes-btn{
        padding: 1rem 0;
        height: fit-content;
    }
    .cancel-order-btn{
        padding: 1rem 0;
        height: fit-content;
    }


}