*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root{
    --main-bg-color: #f9fafa;
    --accent-color: rgb(24, 50, 16);
}
.container {
    height: 100%;
    width: 100%;
    padding: 0 clamp(1rem, 8vw, 20rem);
    margin-top: 2rem;
    /*grid-template-columns: 1fr 1fr 1fr;*/
}

body{
    background-color: var(--main-bg-color);
    height: 100%;
    width: 100%;
}

.nav-bars {
    font-size: clamp(.5rem, 1.6vw, .6rem);
    /*height: 100%;*/
    width:100%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}
.settings-tab{
    border-bottom: 1px #6e6e6e solid;
}

.tab {
    border-left: 1px #6e6e6e solid;
    border-right: 1px #6e6e6e solid;
    display: none;
    align-items: center;
    justify-content: center;
    width:100%;
    padding: 1.2rem 1.1rem 1.2rem .9rem;
}
.tab.show{
    display: flex;
}
.tab-shown{
    overflow: hidden;
}
.tab-icon{
    font-size: clamp(.7rem, 2vw, 1rem) !important;
}

.current-tab{
    background-color: var(--accent-color);
}

.current-button{
    font-size: clamp(.7rem, 2.2vw, 1rem) !important;
    color: var(--main-bg-color);
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.nav-bars > .tab:hover{
    background-color: #dedede;
    transition: 100ms linear;
}
.current-button{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    background-color:transparent;
    outline:none;
    border:none;
}

.main-content{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-top: 1rem;
}



.content-title{
    font-size: clamp(16px, 3vw, 30px);
    font-weight: bold;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 10px black;
}
