.order-list{
    height:100%;
    width:100%;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    display: none;
    visibility: hidden;
}
.order-list.show{
    display: flex;
    visibility: visible;
}
.order-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.order {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    vertical-align: bottom;
    padding: .5rem;
}
.order-icon, .order-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    vertical-align: bottom;
}
.order::after{
    content: "";
    border-bottom: 1px solid #8d8d8d;
    width: 20%;
    height: 0;
    display: block;
    transition: 0.3s;
}
.order:hover:after{
    width: 80%;
}
.order:hover{
    background-color: rgba(176, 176, 176, 0.37);
    transition: 150ms ease-in;
}
.add-order-btn{
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    box-shadow: 0 4px 8px -8px gray;
    position: relative;
    z-index: 1;
}
.add-order-btn:hover{
    box-shadow: none;
    background-color: #e1e1e1;
    transition: 0.15s ease-in;
}
.order-btns{
    display:inline-flex;
    justify-content: center;
    margin: .5rem  0 .3rem 0;
    gap:3%;
    width: 80%;
}
.order-id{
    font-size: calc(clamp(.6rem, 3vw, 1rem) - 2px);
}
.order-icon > .material-icons-outlined {
    font-size: calc(clamp(.6rem, 3vw, 1rem) + .5rem) !important;
}
.add-person-icon{
    font-size: calc(clamp(.6rem, 3vw, 1rem) + .5rem) !important;
}

.edit-order-btn, .delete-order-btn{
    cursor: pointer;
    padding: .1rem .4rem;
    font-size: clamp(.6rem, 3vw, 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    outline: none;
    border: #9a9a9a 1px solid;
    border-radius: 2px;
}
.edit-order-btn:hover{
    background-color: #eaeaea;
    transition: 120ms ease-in;
}

@media all and (min-width: 600px) {
    .order{
        grid-template-columns: 3fr 2fr 3fr;
        display: grid;
        flex-wrap: wrap;
    }
    .add-order-btn{
        margin-top: 0;
    }
    .order-btns {
        justify-content: flex-start;
        width: 100%;
        margin: 10px;
    }
    .order::after{
        grid-column: 2;
        width: 200%;
    }
    .order:hover::after{
        width: 400%;
    }
    .edit-order-btn, .delete-order-btn{
        font-weight: bold;
        padding: .2rem .4rem;
        width: clamp(3.6rem, 2vw, 4rem);
    }
    .delete-order-btn:hover{
        border:none;
        color: white;
        background-color: #b42e3b;
        transition: 360ms ease-in;
    }
    .order-icon{
        padding-right: 18%;
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }
}

