footer{
  width: 100%;
  height: 100%;
  background-image: url(../img/veggie_banner.jpg);
  text-align: left;
  padding-bottom: 1em;
  background-size: 100%;

  bottom : 0;
  height: 20%;


}

.footer-container{
  padding-left: 1em;
  width: fit-content;
  text-align: center;
}

footer h1 {
  color: white;
}

footer p {
  color: white;
  margin: 0;
}