*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.header {
  height: 180px;
  width: 100%;
  /* progressive background color */
  background-color: rgb(9, 51, 12);
  background-position: center;
  background-size: cover;
  position: relative;
  /*box-shadow: 0 1px 20px 1px #3f443f;*/
  box-shadow: 0 4px 14px 2px #9f9f9f;
}

.header h1 {
  font-size: 30px;
  color: white;
}



/* Now design the nav bar  */
nav {
  display: flex;
  padding: 40px 2% 0 2%;
  justify-content: space-between;
  align-items: center;
}

/* Now access the image in nav */
.logo {
  width: 75px;
}

.cart {
  width: 36px;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links::after :not(.shopping-cart-icon){
  margin-bottom: 1rem;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 2px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Add the bar under the menu hide it with 0% width */
.nav-links ul li::after{
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.3s;
}

/* Then when you hover, it will have 100% width */
.nav-links ul li:hover::after {
  width: 100%;
}

/* Menu bar */
nav .fa {
  display: none;
}

@media (max-width: 800px) {
  .header h1 {
    display: none;
  }

  nav .fa {
    display: flex;
  }
}

@media (max-width: 600px) {
  .nav-links ul:not(#shopping-cart-icon){
    display: none;
  }

  /*nav .fa {*/
  /*  display: block;*/
  /*  color: white;*/
  /*  margin: 30px;*/
  /*  font-size: 40px;*/
  /*  cursor: pointer;*/
  /*}*/
}
