body{
    margin: 0px;
    padding: 0px;
    min-width: 340px;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    height: 100vh;
}

/* BODY */



main{
    width: 100%;
    height: 80%;
    min-height: 970px;
}

.container{
    position: relative;
    justify-content: center;
    margin: 1em;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    box-shadow: -2px 0px 33px 0px rgba(0,0,0,0.75);
    height: 80%;
}

.content1{
    padding: 1em;
}

.product-description{
    text-align: center;
    padding-top: 1em;
}

.product-description h1,h3{
    margin:0;
}

.description-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.product-img{
    width: 70%;
    
}

.add-button{
    margin: 1em;
}

.quantity{
    width: 2em;
    text-align: center;
}

.price span{
    padding-left: 2px;
    border-left: 4px solid rgb(255,177,33);
}

.quantity-control{
    margin-bottom: 0.3em;
    text-align: center;
}

.minus-button{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}
.plus-button{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.plus-button, .minus-button{
    width: 2em;
    height: 1.6em;
}

.add-button{
    background-image: url(../img/CartIcon_Add_btn.png);/*TO DO*/
    background-size: 20px;
    padding: 10px;
    padding-left: 2em;
    background-repeat: no-repeat;
    text-align: center;
    background-position: 7% 50%;

    background-color: #e1251b;
    border-radius: 4px;
    border: none;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;


}


.wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(30deg, #FFF 50%, #adf175 50%);   
}

.unofficial-logo{
    margin: 0;
    font-size: large;
    font-weight: bold;
    background: linear-gradient(30deg, #adf175 50%, #FFF 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   

details{
    box-shadow: 0.5rem 2px 0.5rem rgb(0 0 0 / 10%);
    border-radius: 1em;
    padding: 1em;
    margin-top: 2em;
}

details>summary{
    font-size: 1.3rem;
}


details>p{
    margin-top: 1.5em;
}
 


@media screen and (min-width:600px) {
    
    .container{
       height: 90%;
       overflow:hidden;
   }
    
    .product-description{
        display: grid;
        padding: 0;
        grid-template-columns: 40% 60%;
        height: 100%;
    }

    .product-img{
        grid-column: 1/2;
        position: relative;
        align-self: center;
        width: 100%;
    }

    .description-ul{
       grid-column: 2/3;
       display: flex;
       gap: 1em;
       flex-direction: column;
       background-color: whitesmoke;
       padding: 3em 1em 2em 1em;
    }

    .content1{
        padding: 0;
       
    }
    
    .unofficial-logo{
        border-bottom-style: solid;
        border-bottom-width: 1px;
        grid-column: 2 / 3; 
    }

    
    .wrap{
        position: absolute;
        
    }

    .form{
      display: flex;
      flex-direction: column;
    }


}

