:root{
    --clr: #006194;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 150px 80vh 200px;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    
}

/* HEADER */

.header {
  height: fit-content;
  width: 100%;
  min-height: 10vh;
  width: 100%;
  /* progressive background color */
  background-color: rgb(9, 51, 13);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header h1 {
  padding-top: 20px;
  font-size: 30px;
  color: white;
}

/* Now design the nav bar  */
.nav-bar {
  display: flex;
  padding: 0% 2%;
  justify-content:space-between;
  align-items: center;
}

/* Now access the image in nav */
.logo {
  width: 75px;
  padding-top: 20px;
}

.cart {
  width: 40px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links-ul li {
  list-style: none;
  display: inline-block;
  padding: 2px 12px;
  position: relative;
}

.nav-links-ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Add the bar under the menu hide it with 0% width */
.nav-links-ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.7s;
}

/* Then when you hover, it will have 100% width */
.nav-links ul li:hover::after {
  width: 100%;
}

/* Menu bar */
.nav-bar .fa {
  display: none;
}

@media (max-width: 800px) {
  .header h1 {
    display: none;
  }

  .nav-bar .fa {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .nav-bar .fa {
    display: block;
    color: white;
    margin: 30px;
    font-size: 40px;
    cursor: pointer;
  }
}




/* BODY */


main{
    min-width: 237px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 80vh; 
    font-family: "Nunito", sans-serif;
    
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    width: 80%;
    max-width: 300px;
    min-height: 460.5px;
    
}

.form-input, .signup-button, .reset-button{
    font-family: inherit;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 1.2px;
    border: 0; 
    
}

.signup-button{
  border-bottom: 1px solid #387799;
}

.form-input{
    padding: 1.5em;
    width: 90%;
    border-bottom: 1px solid rgb(200, 197, 197);
}

.form-input::placeholder{
    opacity: 0.35;
}

.form-input:focus::placeholder{
    color: var(--clr);
}

.signup-button, .reset-button{
    background-color: var(--clr);
    color: white;
    padding: 1.25em 2em;
    font-size:small;
    justify-content: center;
    align-content: center;
}

.signup-button:hover{
    opacity: 0.95;
}

.reset-button:hover{
  opacity: 0.95;
}

.form-input:focus{
    background-color: #b4cedb65;
    outline-width: 0;
}

.signup-text{
    position: relative;
    text-align: center;
    font-size:medium;
    width: 100%;    
    
}    

.homey-logo{
    margin-top: 1em;
}


 @media only screen and (min-width: 550px){
     main{
         min-width: 593px;
     }

    .form{
        all: unset;
        min-height:800px;
        width: 50%;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        border-radius: 5em;
        overflow: hidden;
        justify-items:center;
        align-items: center;
        
        
    }
    
    .form-item{
        width: 70%;
    }

    .form-input{
        border: 1px solid rgb(218, 218, 218);
        border-radius: 2em;
        font-size: 1em;
        width: inherit;
    }

    .signup-text{
        grid-column: 1/3;
        text-align: center;
        font-size: x-large;
        width: 100%;
        
    }

    .signup-button, .reset-button{
        grid-column: 1/3;
        width: 50%;
        height: 40%;
        border-radius: 4em;
    }

    
} 
