* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

/* ****************** HEADER **************** */
.header {
  min-height: 70vh;
  width: 100%;
  /* progressive background color */
  background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0)),
    url(../resources/img/greenback.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header h1 {
  font-size: 30px;
  color: white;
}

/* Now design the nav bar  */
nav {
  display: flex;
  padding: 0% 2%;
  justify-content: space-between;
  align-items: center;
}

/* Now access the image in nav */
nav img {
  width: 75px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 2px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Add the bar under the menu hide it with 0% width */
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.7s;
}

/* Then when you hover, it will have 100% width */
.nav-links ul li:hover::after {
  width: 100%;
}

.cart {
  width: 40px;
}

.text-box {
  width: 100%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style h1 */
.text-box h1 {
  font-size: 80px;
}

/* Style the paragraph */
.text-box p {
  margin: 10px 0 40px;
  font-size: 30px;
}

/* Do not show menu or close icons in wider screens */
nav .fa {
  display: none;
}

/* ****************** AISLES ******************* */
.aisle {
  background-color: rgba(255, 208, 164, 0.781);
  border-radius: 5%;
  padding: 20px;
  margin: 25px;
  text-align: center;
}

.aisle h1 {
  position: relative;
  font-size: 50px;
}

.row-aisle {
  padding: 1rem;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.aisle-col {
  padding: 10px;
}

.aisle-img img {
  width: 100%;
  border-radius: 7px;
  cursor: pointer;
}

/********** SALES ************/

.sales {
  width: 100%;
  text-align: center;
  background-color: rgba(34, 82, 19, 0.068);
}

.sales h1 {
  color: rgb(179, 23, 18);
  font-size: 50px;
}

.sales p {
  color: rgb(179, 23, 18);
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
}

.row {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
  padding: 0 100px 0 100px;
}

.product-col {
  flex-basis: 21%;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.product-col img {
  margin-top: 5%;
  width: 70%;
}

/* ********** FOOTER **********/

/*FOOTER*/
footer{
  width: 100%;
  height: 100%;
  background-image: url(../img/bannerBg.jpg);
  text-align: left;
  padding-bottom: 1em;
  background-size: 100%;
  
  
}

.footer-container{
  padding-left: 1em;
  width: fit-content;
  text-align: center;
}

footer h1 {
  color: white;
}

footer p {
  color: white;
  margin: 0;
}
/*footer*/

/* ******************* RESPONSIVENESS ****************** */

/* Fix header for smaller screens */

@media (max-width: 1050px) {
  /* reduce size of company name */
  .text-box h1 {
    font-size: 60px;
  }
  /* reduce size of paragraph */
  .text-box p {
    margin: 10px 0 40px;
    font-size: 25px;
  }

  rearrange the menu .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: rgb(18, 32, 13);
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }

  /* add icon to smaller screens */
  nav .fa {
    display: block;
    color: white;
    margin: 22px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 40px;
  }

  .nav-links ul li {
    padding: 20px;
  }
}

/* Fix body for smaller screens */

@media (max-width: 950px) {
  nav h1 {
    display: none;
  }

  /* reduce size of company name */
  .text-box h1 {
    font-size: 60px;
  }
  /* reduce size of paragraph */
  .text-box p {
    margin: 10px 0 40px;
    font-size: 25px;
  }

  /* rearrange the menu */
  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: rgb(18, 32, 13);
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }

  /* add icon to smaller screens */
  nav .fa {
    display: block;
    color: white;
    margin: 22px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 40px;
  }

  .nav-links ul li {
    padding: 20px;
  }

  /* Aisles */
  .aisle h1 {
    font-size: 40px;
  }

  .row-aisle {
    display: inline;
  }

  .aisle-img img {
    width: 65%;
  }

  /* Sales */
  .sales {
    width: 100%;
    text-align: center;
    background-color: rgba(34, 82, 19, 0.068);
  }

  .sales h1 {
    font-size: 40px;
  }

  .sales p {
    padding: 5px;
  }

  .row {
    margin-top: 4%;
    display: inline;
    justify-content: space-around;
    padding: 0 100px 0 100px;
  }

  .product-col {
    flex-basis: 21%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
  }

  .product-col img {
    margin-top: 5%;
    width: 45%;
  }
}
